@font-face {
  font-family: "Geist Sans";
  font-weight: 400;
  src: url("/fonts/Geist-Regular.woff2") format("woff2"),
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 500;
  src: url("/fonts/Geist-Medium.woff2") format("woff2"),
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Geist Sans', sans-serif;
  background-color: white;
}

.shopping-header,
.meals-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 315px;
  z-index: -1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#tabs-swipe {
  display: none;
}

.tabs-content {
  height: 100vh !important;
  overflow: auto!important;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.anim-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.anim-shopping {
  width: 100px;
  height: 100px;
  background-image: url(/images/shopping-list/food.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

.anim-meals {
  width: 100px;
  height: 100px;
  background-image: url(/images/shopping-list/meals-list.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

h1,
h2 {
  margin: 20px 0px!important;
  font-family: 'Geist Sans', sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500!important;
}

.emoji {
  font-size: 30px;
}

.shopping-header {
  background-color: #ffcc33;
}

.meals-header {
  background-color: #33b8ff;
}

.shopping-header img,
.meals-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 350px;
}

.main-wrapper {
  width: 100%;
  max-width: 630px;
  margin: 0 auto
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 100px 30px 0 30px;
}

.create-item {
  height: 70px;
  background-color: white;
  border: 2px solid black;
  margin-top: 50px;
  border-radius: 7px;
  display: flex;
}

.check {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark:hover,
.check-mark.checked {
  background: black;
}

.shopping-item-text.checked {
  color: black;
  text-decoration: line-through;
}

.check-mark img {
  visibility: hidden;
}

.check-mark:hover img,
.check-mark.checked img {
  visibility: visible;
}

.bin {
  width: 6%;
  height: auto;
  display: inline-block;
  margin-right: 4px;
}

.clear-complete {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.clear-complete:hover .bin {
  filter: invert(96%) sepia(34%) saturate(6700%) hue-rotate(324deg) brightness(99%) contrast(102%);
}

.item-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.item-input form {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.item-input form .reset-button {
  margin-right: 26px;
  width: 24px;
  top: 8px;
  right: 0;
  bottom: 0;
  height: 24px;
  font-size: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgMkM2LjUgMiAyIDYuNSAyIDEyczQuNSAxMCAxMCAxMCAxMC00LjUgMTAtMTBTMTcuNSAyIDEyIDJ6bTQuOSAxMy41bC0xLjQgMS40LTMuNS0zLjUtMy41IDMuNS0xLjQtMS40IDMuNS0zLjUtMy41LTMuNSAxLjQtMS40IDMuNSAzLjUgMy41LTMuNSAxLjQgMS40LTMuNSAzLjUgMy41IDMuNXoiLz48L3N2Zz4=);
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  opacity: .2;
  cursor: pointer;
  pointer-events: auto;
  z-index: 3;
  position: absolute;
}


.list-input {
  font-family: 'Geist Sans', sans-serif;
  color: grey;
}

.item-input input {
  width: 100%;
  outline: none;
  font-family: 'Geist Sans', sans-serif;
  border: none;
  padding: 10px 0;
  background-color: transparent;
  color: black;
  font-size: 18px;
}

.item-input input::placeholder {
  color: hsl(233, 14%, 35%);
}

.shopping-item {
  width: 100%;
  color: black;
  display: flex;
  height: 70px;
  border-radius: 7px;
  border: 2px solid black;
  font-size: 18px;
  transition: all 0.25s ease;
  background-color: white;
  margin-bottom: 7px;
  margin-top: 7px;
}

.shopping-item:hover {
  transform: translateY(-3px);
  border-color: black;
}

.shopping-item-text {
  display: flex;
  align-items: center;
}

.shopping-list-wrapper, .meals-list-wrapper {
  margin-top: 10px;
  background-color: transparent;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 10px;
}

.meals-list-wrapper {
  margin-top: 20px;
}

.items-info {
  height: 70px;
  width: 100%;
  color: black;
  background-color: white;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter span {
  padding: 0 6px;
  cursor: pointer;
}

.filter span:hover,
.filter span.active,
.controls:hover {
  color: #ffcc33;
}

.controls {
  cursor: pointer;
  text-align: end;
  display: flex;
  justify-content: center;
}

.delete-item {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.delete-item img {
  width: 70%;
  margin-right: 30px;
}

.delete-item:hover {
  cursor: pointer;
}


/* Mobile styles */
@media (max-width: 480px) {

  .shopping-header,
  .meals-header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

  .items-info {
    flex-direction: column;
    margin-top: 50px;
  }

  .clear-complete {
    justify-content: center;
  }

  h1 {
    font-size: 45px !important;
  }

  .shopping-header,
  .meals-header {
    height: 300px;
  }
}

.carousel .carousel-item {
  width: 100%;
}


.accordion {
  margin: 0 auto 15px auto;
  background-color: transparent!important;
  border: 2px solid black;
  border-radius: 7px;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-size: 18px;
}

.date-select {
  margin-top: 15px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.date-wrapper {
  display: none;
}

.date-wrapper.active {
  display: block;
}

.date-text {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

.date-select button {
  border: 2px solid black;
  padding: 10px;
  border-radius: 6px;
  flex-grow: 1;
}

.accordion.active {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  margin-right: 15px;
}

.accordion.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}